.settings {
  padding: 20px;
  overflow: auto;
}

.avatar {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.settings-tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
  overflow-x: auto;

  button {
    border: var(--border-in-light);
    border-radius: 8px;
    background: var(--white);
    color: var(--black);
    padding: 8px 12px;
    white-space: nowrap;
    cursor: pointer;
  }
}

.settings-tab-active {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
  background: var(--gray) !important;
}

.subtitle-button {
  button {
    overflow: visible;
  }
}
